body{
background-color: #330066;
padding:15px;
color:white;
}

wrapper{
margin-right:15px;
margin-left:15px;
}

td{
padding:5px;
width:150px;
}

.highlightCell{
font-weight:bold;
font-size:14px;
color:red;
}

.rowClass{
display:block;
}

.hideRow{
display:none;
}

#dialog{
height:400px;
width:400px;
}

.boldTeam{
font-weight:bold;
}

.ui-widget-overlay{
background:black;
opacity:0.6;
}

select{
border-radius:5px;
padding:5px;
color:black;
font-weight:normal;
border:2px solid black;
}

.well{
color:black;
border:2px solid black;
font-size:16px;
font-weight:bold;
color:black;
}

.mainHead{
font-size:72px;
color:white;
}

.subHead{
font-size:72px;
color:white;
}

table td{
font-size:13px;
}

.fixtureLabel{
color:white;
font-weight:bold;
}